// normalize

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;}

// end of normlize

body{
    background-color: #FDF5DF;
}
html{
    background-color: #FDF5DF;
}

header{
    text-align: center;
    font-size: 50px;
    background-color: #5EBEC4;
    font-weight: bold;
    border: 1px solid black;
}

.ostatne{
    float: right;
    position: relative;
    margin-right: 20px;
    text-align: center;
}
.row{
    max-height: 100%;
    font-size: 25px;
    border: 1px solid black;
}
.col-sm-3{
    padding: 20px;
    height: 681px;
    border: 1px solid black;
    border-top: none;
    text-align: center;
}
