// normalize

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;}

// end of normlize

body{
    background-image: url(../background.png)
}

header{
    text-align: center;
    font-size: 200px;
    font-weight: bold;
    color: rgb(221, 219, 125);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ostatne{
    text-align: center;
    font-size: xx-large;
}
.row{
    font-size: 25px;
}
button:focus {
    background-color: rgb(221, 219, 125);
  }

  li{
    display: inline;
    padding-left: 260px;
    position: relative;
}

.but{
    width: 150px;
}
