<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <body>
        <Header>SERVERY A INFO</Header>

        <div class="row">
            <div class="col-sm-3">
              <ul>
                <li><a href="app.component.html"> CMU </a></li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>
            <div class="col-sm-9">
                <div class="ostatne">
                    vyborne
                    <br>
                    CPU Load {{ loadAverage }}
                    <br>
                    HDD1 {{ HDD1 }} 
                    <br>
                    HDD2 {{ HDD2 }}
                    <br>
                    RAM {{ RAM }}
                </div>
            </div>
        </div>
    </body>    
</html>


