<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <body>
        <Header>SERVERY A INFO</Header>
        <div class="row">
            <div class="col-sm-3" style="background-color:rgb(215, 215, 215)">
                <ul>
                    <li *ngFor="let instances of instance">
                        <button (click)="switchInstance(instance.{{instances}})" > {{ instances }} </button>
                        <br>
                    </li> 
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="ostatne">
                    <br>
                    CPU Load {{ CPULoad }}
                    <br>
                    HDD1 {{ HDD1 }} 
                    <br>
                    HDD2 {{ HDD2 }}
                    <br>
                    RAM {{ RAM }}
                </div>
            </div>
        </div>
    </body>    
</html>


